/* Code tidied up by ScrapBook */
.dialogify { display: none; position: absolute; top: 50%; bottom: auto; left: 50%; right: auto; transform: translate(-50%, -50%); margin: auto; max-width: 1100px; min-width: 360px; max-height: 100vh; background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(70, 70, 70); border: medium none; border-radius: 4px; overflow: auto; box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 1px 8px rgba(0, 0, 0, 0.05), 0px 2px 20px rgba(0, 0, 0, 0.1); z-index: 2; padding: 0px; line-height: 100%; font-family: "Helvetica Neue",Helvetica,Roboto,Arial,"Lucida Grande","PingFang TC","蘋果儷中黑","微軟正黑體",Microsoft JhengHei,"黑體-繁",sans-serif; }
.dialogify[open] { display: block; }
.dialogify.fixed { position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.dialogify p { line-height: 1.5; }
.dialogify > div { background-repeat: no-repeat; background-position: right bottom; }
.dialogify > div::after { content: ""; position: absolute; bottom: 0px; left: 0px; width: 20px; height: 21px; transform: rotate(90deg); background-size: 20px auto; background-repeat: no-repeat; opacity: 0.7; }
.dialogify > div hr { border: medium none; height: 1px; background: rgb(224, 230, 232) none repeat scroll 0% 0%; }
.dialogify .dialogify__body { min-height: 40px; }
.dialogify .dialogify__body::after { clear: both; content: "."; display: block; width: 0px; height: 0px; visibility: hidden; }
.dialogify .dialogify__body a { color: rgb(17, 126, 150); }
.dialogify .dialogify__body a:hover { color: rgb(18, 110, 125); }
.dialogify .dialogify__content { padding: 22px 28px 20px 24px; box-sizing: border-box; }
.dialogify .dialogify__content-box { margin: 20px auto; }
.dialogify .dialogify__maxheight { max-height: 400px; overflow-y: scroll; overflow-x: hidden; }
.dialogify .dialogify__autowidth { max-width: 1100px; min-width: 560px; }
.dialogify .dialogify__fixedwidth { max-width: 560px; }
.dialogify .dialog__maxheight { max-height: 400px; overflow-y: auto; }
.dialogify .dialogify__close { position: absolute; top: 8px; right: 8px; color: rgb(0, 85, 95); }
.dialogify .dialogify__close img { width: 16px; height: 16px; opacity: 0.85; }
.dialogify .dialogify__close:hover { cursor: pointer; }
.dialogify .dialogify__close:hover img { opacity: 1; }
.dialogify img.dialogify-ajax-loading { position: absolute; left: 50%; top: 50%; width: 24px; height: 24px; transform: translateX(-50%); }
.dialogify a:focus { outline: medium none; text-decoration: none; }
.dialogify .btn-danger { box-shadow: 0px 16px 26px -10px rgba(244, 67, 54, 0.56), 0px 4px 25px 0px rgba(0, 0, 0, 0.12), 0px 8px 10px -5px rgba(244, 67, 54, 0.2); }
.dialogify .btn-box { margin-top: 20px; clear: both; }
.dialogify .btn-box .btn-insert { margin-left: 8px; margin-right: 3px; }
.dialogify .btn-box .check-group { float: left; margin-top: 8px; }
.dialogify .btn-box .check-group input[type="checkbox"] + label h6 { font-size: 13px; color: rgb(166, 166, 166); }
.dialogify .btn-box .check-group input[type="checkbox"] + label a { color: rgb(17, 126, 150); }
.dialogify .btn-box .check-group input[type="checkbox"] + label a:hover { color: rgb(18, 110, 125); text-decoration: none; transition: all 0.3s ease 0s; }
.dialogify .btn-box .float-left { margin-left: 0px; }
.dialogify .btn-box .float-left a { margin-left: 0px; }
.dialogify .btn-box .post__text-small { font-weight: normal; }
.dialogify .link-form__actions { margin-top: 10px; float: right; width: 100%; }
.dialogify .btn { display: inline-block; border: 1px solid transparent; border-radius: 3px; padding: 5px 12px; height: auto; font-size: 14px; line-height: 1.5; letter-spacing: 1px; cursor: pointer; background-color: rgb(229, 229, 229); color: rgb(166, 166, 166); outline: medium none; text-decoration: none; }
.dialogify .btn:hover { background: rgb(220, 220, 220) none repeat scroll 0% 0%; color: rgb(166, 166, 166); }
.dialogify .btn.is-disabled { opacity: 0.5; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2) inset; cursor: not-allowed !important; }
.dialogify .btn.is-disabled:hover { animation: 300ms ease 0s normal none 1 running shake; }
@keyframes shake {
0% { transform: rotate(1.5deg); }
50% { transform: rotate(-2deg); }
70% { transform: rotate(1.5deg); }
100% { transform: rotate(0deg); }
}
@keyframes shake {
0% { transform: rotate(1.5deg); }
50% { transform: rotate(-2deg); }
70% { transform: rotate(1.5deg); }
100% { transform: rotate(0deg); }
}
.dialogify .btn.btn-primary { background-color: rgb(17, 126, 150); color: rgb(255, 255, 255); }
.dialogify .btn.btn-primary:hover { background-color: rgb(18, 110, 125); }
.dialogify .btn.btn-danger { background-color: rgb(244, 67, 54); color: rgb(255, 255, 255); }
.dialogify .btn.btn-danger:hover { background: rgb(222, 36, 39) none repeat scroll 0% 0%; }
.dialogify .btn.btn-danger.is-disabled:hover { background-color: rgb(244, 67, 54); }
.dialogify h5.dialogify_title { font-size: 18px; color: rgb(0, 85, 95); line-height: 1; margin: 0px 0px 18px; font-family: "Helvetica Neue",Helvetica,Roboto,Arial,"Lucida Grande","PingFang TC","蘋果儷中黑","Apple LiGothic Medium","微軟正黑體",sans-serif; font-weight: normal; }
.dialogify h5.dialogify_title img { width: 12px; height: 10px; position: relative; top: -2px; margin-right: 3px; }
.dialogify h5.dialogify_title .post__text-small img { width: 12px; height: 12px; top: -1px; }
.dialogify hr { background: rgb(224, 230, 232) none repeat scroll 0% 0%; border: medium none; height: 1px; width: 100%; margin-bottom: 15px; }
.dialogify .text-right { text-align: right; }
.dialogify .text-center { text-align: center; }
.dialogify .text-left { text-align: left; }
.dialogify .text-field { margin: 10px 0px; border: 1px solid rgb(217, 217, 217); border-radius: 3px; padding: 8px; box-sizing: border-box; width: 100%; background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 85, 95); }
.dialogify .text-field:hover, .dialogify .text-field:focus { outline: medium none; border-color: rgb(17, 126, 150); }
.dialogify .text-field.is-error { border-color: rgb(222, 36, 39); color: rgb(222, 36, 39); }
.dialogify textarea.text-field { resize: none; min-height: 100px; line-height: 1.5; font-size: 14px; overflow: auto; }
dialog::backdrop { background: rgb(0, 0, 0) none repeat scroll 0% 0%; opacity: 0.7; }
dialog + .backdrop { position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; background: rgb(0, 0, 0) none repeat scroll 0% 0%; opacity: 0.7; }
